<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Prepr Challenge 2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="{% static 'css/login.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body class="body">
    {% include 'navbar.html' %} {% comment %} {% if
    request.user.is_authenticated %}
    <div class="login">
      <a href="{% url 'logout' %}"
        ><button class="loginButton">Logout</button></a
      >
    </div>
    {% else %}
    <div class="login">
      <a href="{% url 'login' %}"><button class="loginButton">Login</button></a>
    </div>
    {% endif %} {% endcomment %}

    <section class="vh-80">
      <div class="container h-80" style="margin-top: 3%; margin-bottom: 3%">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                      Sign up
                    </p>
                    {% if form.errors %}
                      <!--ouput field errors-->
                      {% for field in form %} 
                        {% for error in field.errors %}
                          <!-- <div class="alert alert-danger">
                                <strong>{{fieldNames|get_value:field.name}}: {{ error|escape }}</strong>
                          </div> -->

                          <div
                          class="alert alert-warning alert-dismissible fade show"
                          role="alert">
                            <strong
                              >{{fieldNames|get_value:field.name}}: {{ error|escape}}</strong
                            >
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="alert"
                              aria-label="Close"
                            ></button>
                          </div>

                        {% endfor %}
                      {% endfor %}
                      <!--ouput other errors-->
                      {% for error in form.non_field_errors %}
                        <!-- <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div> -->

                        <div
                          class="alert alert-warning alert-dismissible fade show"
                          role="alert">
                          <strong>>{{ error|escape }}</strong>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"
                          ></button>
                        </div>
                      {% endfor %}
                    {% endif %} 
                    {% if messages %}
                      <div class="container mt-5">
                          {% for message in messages %} 
                          {% if message.tags == "error" %}
                            <div
                              class="alert {{ message.tags }} alert-danger alert-dismissible fade show"
                              role="alert">
                              <strong>{{ message }}</strong>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"
                              ></button>
                            </div>
                          {% else %}
                            <div
                              class="alert {{ message.tags }} alert-success alert-dismissible fade show"
                              role="alert">
                              <strong>{{ message }}</strong>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"
                              ></button>
                            </div>
                          {% endif %} 
                          {% endfor %}
                      </div>
                    {% endif %}
                    <form
                      method="POST"
                      class="mx-1 mx-md-4"
                      action="{% url 'register' %}"
                    >
                      {% csrf_token %}
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="text"
                            id="form3Example1c"
                            class="form-control"
                            name="first_name"
                            required
                          />
                          <label class="form-label" for="form3Example1c"
                            >First Name</label
                          >
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="text"
                            id="form3Example1c"
                            class="form-control"
                            name="last_name"
                            required
                          />
                          <label class="form-label" for="form3Example1c"
                            >Last Name</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="email"
                            id="form3Example3c"
                            class="form-control"
                            name="email"
                          />
                          <label class="form-label" for="form3Example3c"
                            >Your Email</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="password"
                            id="form3Example4c"
                            class="form-control"
                            name="password1"
                            required
                          />
                          <label class="form-label" for="form3Example4c"
                            >Password</label
                          >
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="password"
                            id="form3Example4cd"
                            class="form-control"
                            name="password2"
                            required
                          />
                          <label class="form-label" for="form3Example4cd"
                            >Repeat your password</label
                          >
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <select
                            class="form-select"
                            aria-label="Default select example"
                            name="user_type"
                          >
                            <option value="learner" selected>Learner</option>
                            <option value="job seeker/applicant">
                              Job seeker / Applicant
                            </option>
                            <option value="employee">Employee</option>
                            <option value="founder">Founder</option>
                            <option value="educator">Educator</option>
                            <option value="mentor">Mentor</option>
                          </select>
                          <label class="form-label" for="form3Example4cd"
                            >User Type</label
                          >
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <select
                            class="form-select"
                            aria-label="Default select example"
                            name="language"
                          >
                            <option value="english" selected>English</option>
                            <option value="french">French</option>
                          </select>
                          <label class="form-label" for="form3Example4cd"
                            >Language</label
                          >
                        </div>
                      </div>

                      {% comment %}
                      <div
                        class="form-check d-flex justify-content-center mb-5"
                      >
                        <input
                          class="form-check-input me-2"
                          type="checkbox"
                          value=""
                          id="form2Example3c"
                          required
                        />
                        <label class="form-check-label" for="form2Example3">
                          I agree all statements in
                          <a href="#!">Terms of service</a>
                        </label>
                      </div>
                      {% endcomment %}

                      <div
                        class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                      >
                        {% comment %}
                        <button type="submit" class="btn btn-primary btn-lg">
                          Register
                        </button>
                        {% endcomment %}
                        <input
                          type="submit"
                          value="Register"
                          class="btn btn-primary btn-lg"
                        />
                      </div>
                    </form>
                  </div>
                  <div
                    class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
                  >
                    <img
                      src="{% static 'images/registerImage.png' %}"
                      class="img-fluid"
                      alt="Register clipart image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
  </body>
</html>
